@import url('https://fonts.googleapis.com/css?family=Fondamento&display=swap');


header nav ul li {
    display: flex;
    display: inline-block; 
    font-size: 50px;
    font-family: 'Fondamento', cursive;
}

header{
    border-radius: 20px;
    padding: 10px;
    margin: 40px;
    border: 100px;
    background-color: black;
    color: white;
    margin-top: auto;
    margin-bottom: auto;

}

header nav ul li #text {
  
    position: relative;
    display: block;
    height: 50%;
}

body{
    background-color: #337DFF;
}
 
