@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    
}
div.card-node{
    width: 250px;
}
div.card-node div.card-node-image img{
    width: 100%;
    height: auto;
}
div.card-node div.card-node-details{
    text-align: center;
}
div.card-node div.card-node-details div.card-node-details-category{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
div.card-node div.card-node-details div.card-node-details-title{
    font-size: 14px;
}
div.card-node div.card-node-details div.card-node-details-title h2{
    font-weight: normal;
}
div.card-node div.card-node-details div.card-node-details-separator{
    width: 135px;
    height: 2px;
    background-color: #565294;
    margin:10px auto;
}
